
.usersBoard {
    display: none;
}

.formReg h3 {
    font-weight: bold;
}

.auth {
    background: #6c757d;
    /*background-color: RGB(249, 201, 16);*/
}

.formReg {
    width: 30%;
    margin-top: 6%;
}

.logout {
    position: absolute;
    right: 2%;
    top: 2%;
}

.users_table {
    display: none;
}

.toDaytd {
    background: #6c757d;
    /*background: RGB(249, 201, 16)*/
    /*background-color: rgba(321, 0, 0, 0.5)*/
}

td, th {
    width: 150px !important;
    padding: 20px !important;
    text-align: center;
    font-size: 15px;
}

.days {
    border: solid 2px gray;
    background: white;
    padding: 15px;
    text-align: center;
}

/*#stop, #start{*/
/*display: none;*/
/*}*/

.start_text {
    color: green;
    font-weight: bold;

}

.stop_text {
    color: darkred;
    font-weight: bold;
}

.time_div {
    border: 1px solid grey;
    padding: 7px;
}

.data-hours p {
    font-weight: bold;
}

.textTime {
    font-weight: bold;
    /*color: white;*/
}

.adminlink {
    position: absolute;
    right: 2%;
    top: 8%;
}

.date_filter {
    width: 20%;
    margin: 0 auto;
}

.late_check {
    width: 200px;
    margin: 3% auto;
}

.title_late_page {
    margin: 2% auto;
    width: 40%;
    text-align: center;
}

.user_late {
    font-weight: bold;
    font-size: 14px;
    margin-left: 3%;
}

.late {
    color: red;
}

.latePageheader {
    background: #6c757d;
    margin-top: -27px;
}

.search {
    width: 200px;
}

.getSearchUser {
    display: none;
}

.holidays_board {
    display: flex;
}

.holiday {
    border: 1px solid grey;
    padding: 5px;
    margin: 3px 3px 3px 3px;
}